// src/styles/_colors.scss

$primary-color: #ffe600;
$secondary-color: #2968c8;
$gray: #ebebeb;
$dark-gray: #333;
$light-gray: #f4f4f4;
$white: #fff;
$black: #666;
$light-black: #999;
$green: #26c65f;