@import "variables";

@font-face {
  font-family: proximanova-light;
  src: url(../fonts/proximanova-light.woff2);
}

@font-face {
  font-family: proximanova-regular;
  src: url(../fonts/proximanova-regular.woff2);
}

@font-face {
  font-family: proximanova-bold;
  src: url(../fonts/proximanova-semibold.woff2);
}

body {
  background-color: #ebebeb;
  overflow-x: hidden;

  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
